body {
    background-image: url(Fotos/background/foto3.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* filter: blur(20px); */
}


nav {
    background-color: darkgray;

}

.navigatie {

    margin-left: 1em;
    padding-left: 1em;
    font-size: 2em;


}

p {
    font-family: 'Aclonica';
    font-size: 22px;
    color: whitesmoke;
    font-weight: bold;

}

h1 {
    margin-top: 5em;
    text-align: center;
    color: floralwhite;
    text-decoration: underline;
}



* {
    box-sizing: border-box
}

body {
    font-family: Verdana, sans-serif;
    margin: 0
}

.mySlides {
    display: none
}

/* Slideshow container */

.slideshow-container {
  
   /* max-width: 70%;*/
   /* position: relative;*/
    
    margin-left: 10%;
    
    /*margin: auto;*/
    margin-top: 5em;
}

.slideshow-container img
{
    max-width: 100%;
    margin-left: 40;
    
}



/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}




/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

.kamers {
    max-height: 20em;
    margin-left: 5em;
    margin-top: 5em;
    border-radius: 8px;
    padding-left: 3%;

}



#keuken {
    max-height: 40em;
    margin-left: 35%;
    border-radius: 8px;
}

#extra {
    position: center;
    color: white;
}

#textExtra{
    list-style-type: none;
}
h2 {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 50px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
    position: center ;
    text-align: center;
    padding-top: 1em ;
   
   
    
}

#beschrijving {

    margin-left: 5em;
    margin-right: 5em;
    color: black;
    text-align: center;

}



#beschrijving2 img {
    max-width: 70%;
    margin-left: 15%;
   
    
}

#beschrijving {
    max-width: 70%;
    margin-left: 15%;
    text-align: center;
   
    
}

#beschrijving2{
    background-color:bisque;
    margin-left: 25%;
    margin-right: 25%;
}

#contact{
background-color: bisque;   
    
margin-left: 25% ;
margin-right: 25%;
height: 50em ;
    
    
    
}
